.title, .subtitle {
  font-family: 'Roboto Slab', serif; }

p {
  font-family: 'Roboto', sans-serif; }

#navbarMenuHeroA {
  background-color: transparent; }

.parallax {
  background: #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  height: 100vh;
  width: 100vw; }
  .parallax .heroCon {
    padding-top: 5%; }
  .parallax a.navbar-item {
    font-family: 'Roboto', sans-serif;
    color: white; }
  .parallax .hero-body {
    display: flex;
    justify-content: center; }
  .parallax .title.mainTitle {
    color: white;
    border: solid;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 85px; }
    @media (max-width: 768px) {
      .parallax .title.mainTitle {
        font-size: 40px; } }
    @media (max-width: 480px) {
      .parallax .title.mainTitle {
        font-size: 25px; } }
  .parallax h2.subtitle.mainSubtitle {
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid; }
    @media (max-width: 768px) {
      .parallax h2.subtitle.mainSubtitle {
        font-size: 30px; } }
    @media (max-width: 480px) {
      .parallax h2.subtitle.mainSubtitle {
        font-size: 15px; } }

.triangle-down1 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #c72e2a; }

.secondSection {
  background-image: url("../assets/projectPic.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  padding-bottom: 50px; }
  .secondSection h2.subtitle.aboutSubtitle {
    color: black;
    font-weight: bold;
    border: solid;
    font-size: 35px;
    margin-top: 10px; }
  .secondSection #profilePic {
    border-radius: 50%;
    border: solid black;
    height: 200px; }
  .secondSection .aboutText {
    justify-content: center; }
    .secondSection .aboutText p {
      font-size: 19px;
      color: black; }

.thirdSection {
  background: #696969;
  background: linear-gradient(to bottom right, #424949, #808080);
  padding-top: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 100px; }
  .thirdSection .triangle-down2 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #e0e0e0; }
  .thirdSection h2.subtitle.skillsSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px; }
  .thirdSection h3 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto Slab', serif; }
  .thirdSection .svg-inline--fa {
    font-size: 50px;
    color: white; }
  .thirdSection i {
    font-size: 50px;
    color: white; }
  .thirdSection p {
    color: white; }

.fourthSection {
  padding-top: 10px;
  background: #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  padding-bottom: 50px; }
  .fourthSection .triangle-down3 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #707272; }
  .fourthSection h2.subtitle.workSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px;
    padding-bottom: 5px; }
  .fourthSection p {
    color: white; }
  .fourthSection .workCarousel .slick-slide {
    padding: 10px;
    position: relative; }
    .fourthSection .workCarousel .slick-slide .slick-slide img {
      height: 500px;
      width: 750px;
      padding-bottom: 25px; }
    .fourthSection .workCarousel .slick-slide .caption {
      text-align: center; }
      .fourthSection .workCarousel .slick-slide .caption .captionWords {
        padding-top: 20px; }
      .fourthSection .workCarousel .slick-slide .caption h2 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 30px;
        color: white;
        padding-top: 30px; }
      .fourthSection .workCarousel .slick-slide .caption p {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        color: white; }

.fifthSection {
  background-image: url("../assets/collage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px; }
  .fifthSection .triangle-down4 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #c82e2a; }
  .fifthSection h2.subtitle.moreSubtitle {
    color: black;
    font-weight: bold;
    border: solid;
    font-size: 35px; }
  .fifthSection .moreBoxCont {
    padding-top: 10%; }
    .fifthSection .moreBoxCont .moreBox {
      justify-content: left; }
      @media (max-width: 768px) {
        .fifthSection .moreBoxCont .moreBox {
          padding-left: 25px;
          padding-right: 25px; } }
      @media (max-width: 480px) {
        .fifthSection .moreBoxCont .moreBox {
          padding-left: 25px;
          padding-right: 25px; } }
      .fifthSection .moreBoxCont .moreBox p {
        color: black;
        font-size: 20px; }

.sixthSection {
  background: #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px; }
  .sixthSection .triangle-down5 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #e1e1df; }
  .sixthSection h2.subtitle.contactSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px; }
  .sixthSection .svg-inline--fa {
    color: white; }
  .sixthSection p {
    color: white; }

/*# sourceMappingURL=style.css.map */
