.title, .subtitle {
  font-family: 'Roboto Slab', serif; }

p {
  font-family: 'Roboto', sans-serif; }

.parallax {
  background: #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  height: 100vh;
  width: 100vw; }
  .parallax a.navbar-item {
    font-family: 'Roboto', sans-serif;
    color: white; }
  .parallax .hero-body {
    display: flex;
    justify-content: center; }
  .parallax .title.mainTitle {
    font-size: 85px;
    color: white;
    border: solid;
    padding-bottom: 15px;
    margin-bottom: 20px; }
  .parallax h2.subtitle.mainSubtitle {
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid; }

.triangle-down1 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #B0181E; }

.secondSection {
  background-image: url("../assets/laptop2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px; }
  .secondSection h2.subtitle.aboutSubtitle {
    color: black;
    font-weight: bold;
    border: solid;
    font-size: 35px; }
  .secondSection #profilePic {
    border-radius: 50%;
    border: solid black;
    height: 160px; }
  .secondSection .aboutText {
    justify-content: center; }
    .secondSection .aboutText p {
      font-size: 18px;
      color: black; }

.thirdSection {
  background: #696969;
  background: linear-gradient(to bottom right, #424949, #808080);
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 0; }
  .thirdSection h2.subtitle.skillsSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px; }
  .thirdSection h3 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif; }
  .thirdSection .svg-inline--fa {
    font-size: 50px;
    color: white; }
  .thirdSection i {
    font-size: 50px;
    color: white; }
  .thirdSection p {
    color: white; }

.fourthSection {
  background-image: url("../assets/projectPic.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px; }
  .fourthSection h2.subtitle.workSubtitle {
    color: black;
    font-weight: bold;
    border: solid;
    font-size: 35px; }
  .fourthSection p {
    color: black; }
  .fourthSection .card {
    border: solid black 3px; }
  .fourthSection .card-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; }
  .fourthSection .card-content {
    background: #696969;
    background: linear-gradient(to bottom right, #424949, #808080); }
  .fourthSection .content {
    font-family: 'Roboto', sans-serif;
    color: black; }

.fifthSection {
  background: #696969;
  background: linear-gradient(to bottom right, #424949, #808080);
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 0; }
  .fifthSection h2.subtitle.moreSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px; }

.sixthSection {
  background: #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .sixthSection h2.subtitle.contactSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px; }
  .sixthSection .svg-inline--fa {
    color: white; }
  .sixthSection p {
    color: white; }

@media only screen and (max-width: 480px) {
  .mainTitle {
    font-size: 25px; } }
@media only screen and (max-width: 768px) {
  .mainTitle {
    font-size: 40px; } }

/*# sourceMappingURL=style.css.map */
