

.title, .subtitle{
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}


.parallax {
  background:  #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
  // position: relative;
  width: 100vw;
  .heroCon {
    padding-top: 5%;
  }
  a.navbar-item {
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  .hero-body {
    display: flex;
    justify-content: center;
  }
  .title.mainTitle {
    font-size: 85px;
    color: white;
    border: solid;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  h2.subtitle.mainSubtitle {
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
  }
}

.triangle-down1 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #c72e2a;
}

.secondSection {
  background-image: url('../assets/projectPic.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  // position: relative;
  width: 100vw;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  h2.subtitle.aboutSubtitle {
    color: black;
    font-weight: bold;
    border: solid;
    font-size: 35px;
    margin-top: 10px;
  }
  #profilePic {
    border-radius: 50%;
    border: solid black;
    height: 200px;
  }
  .aboutText {
    justify-content: center;
    p {
      font-size: 19px;
      color: black;
    }
  }


}

.thirdSection {
  background: #696969;
  background: linear-gradient(to bottom right, #424949, #808080);
  padding-top: 0;
  height: 100%;
  // position: relative;
  width: 100%;
  padding-bottom: 100px;
  // position: fixed;
  .triangle-down2 {
    width: 0;
  	height: 0;
  	border-left: 25px solid transparent;
  	border-right: 25px solid transparent;
  	border-top: 50px solid white;
  }
  h2.subtitle.skillsSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px;
  }
  h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
  }
  .svg-inline--fa {
    font-size: 50px;
    color: white;
  }
  i {
    font-size: 50px;
    color: white;
  }
  p {
    color: white;

  }
}


.fourthSection {
  padding-top: 10px;
  background:  #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  .triangle-down3 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #707272;
  }
  h2.subtitle.workSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px;
  }
  p {
    color: white;
  }
  .workCarousel{
    // border: black 3px solid;
    .slick-slide {

      padding: 10px;
      position: relative;
      .slick-slide img {
        height: 500px;
        padding-bottom: 25px;
      }
      .caption {
        text-align: center;
        h2{
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 30px;
        color: white;
        }
        p {
          font-family: 'Roboto', sans-serif;
          font-size: 19px;
          color: white;
        }
      }
    }
    // .slide--has-caption:hover .caption {
    // visibility: visible!important;
    // opacity: 1;
    // cursor: pointer;
    // pointer-events: none;
    // z-index: 2;
    // }
  }
}

.fifthSection {
  background-image: url('../assets/collage.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  // position: relative;
  width: 100vw;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  .triangle-down4 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid black;
  }
  h2.subtitle.moreSubtitle {
    color: black;
    font-weight: bold;
    border: solid;
    font-size: 35px;
  }
  .moreBoxCont{
    padding-top: 10%;

  .moreBox {
    justify-content: left;
    // background-color: rgba(0,0,0,0.2);
    p {
      color: black;
      font-size: 18px;
    }
  }
}
}

.sixthSection {
  background:  #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  .triangle-down5 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid white;
  }

  h2.subtitle.contactSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px;
  }
  .svg-inline--fa {
    color: white;
  }
  p {
    color: white;
  }
}




@media only screen and (max-width: 480px) {
  .mainTitle { font-size: 25px; }
}

@media only screen and (max-width: 768px) {
  .mainTitle { font-size: 40px; }
}

// @media only screen and (min-width: 769px) {
//   body { background-color: green; }
// }
