.title, .subtitle{
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.parallax {
  background:  #5E1114;
  background: linear-gradient(to bottom right, #5E1114, red);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;
  a.navbar-item {
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  #mainTitle {
    font-size: 85px;
    color: white;
    border: solid;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  h2.subtitle.mainSubtitle {
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
  }
}

.triangle-down1 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #B0181E;
}

.secondSection {
  background-image: url('../assets/laptop2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  h2.subtitle.aboutSubtitle {
    color: black;
    font-weight: bold;
    border: solid;
    font-size: 35px;
  }
  #profilePic {
    border-radius: 50%;
    border: solid black;
    height: 160px;
  }
  p {
    font-size: 18px;
    color: black;
  }

}

.thirdSection {
  background: #696969;
  background: linear-gradient(to bottom right, #424949, #808080);
  padding-top: 0;
  h2.subtitle.skillsSubtitle {
    color: white;
    font-weight: bold;
    border: solid;
    font-size: 35px;
  }
  .svg-inline--fa {
    font-size: 50px;
    color: white;
  }
  i {
    font-size: 50px;
    color: white;
  }
  p {
    color: white;

  }
}



// .wrapper {
//   /* The height needs to be set to a fixed value for the effect to work.
//    * 100vh is the full height of the viewport. */
//   height: 100vh;
//   /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
//   overflow-x: hidden;
//   /* Enable scrolling on the page. */
//   overflow-y: auto;
//   /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
//   perspective: 2px;
// }
//
// .section {
//   /* Needed for children to be absolutely positioned relative to the parent. */
//   position: relative;
//   /* The height of the container. Must be set, but it doesn't really matter what the value is. */
//   height: 100vh;
//
//   /* For text formatting. */
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: white;
//   text-shadow: 0 0 5px #000;
// }
//
// .parallax::after {
//   /* Display and position the pseudo-element */
//   content: " ";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//
//   /* Move the pseudo-element back away from the camera,
//    * then scale it back up to fill the viewport.
//    * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
//   transform: translateZ(-1px) scale(1.5);
//   /* Force the background image to fill the whole element. */
//   background-size: 100%;
//   /* Keep the image from overlapping sibling elements. */
//   z-index: -1;
// }
//
// /* The styling for the static div. */
// .static {
//   background: red;
// }
//
// /* Sets the actual background images to adorable kitties. This part is crucial. */
// .bg1::after {
//   background-image: url('https://placekitten.com/g/900/700');
// }
//
// .bg2::after {
//   background-image: url('https://placekitten.com/g/800/600');
// }
